<!DOCTYPE html>
<html lang="nl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Noviaal - Login</title>
  <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
  <h1>Noviaal - Login</h1>
  <p>Example user: user / password</p>
  <p th:if="${loginError}" class="error">Wrong username or password!</p>
  <form th:action="@{/login}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" autofocus="autofocus" /><br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" /><br />
    <input type="submit" value="Log in" />
  </form>
  <p>
    <a href="/index" th:href="@{/index}">Home</a>
  </p>
</body>
</html>
